<% include partials/header %>

<body>
        <main class="tourist-body">
            <div class="home-part1">
                <ul class="tiny-nav">
                    <li class="tiny-nav-item shadow"><a href="/" class="tiny-nav-item-text">home</a></li>
                    <li class="tiny-nav-item"><a href="/touristsearchpage" class="tiny-nav-item-text">tourist</a></li>
                    <li class="tiny-nav-item"><a href="/tourplacesearchpage" class="tiny-nav-item-text">tour place</a></li>
                </ul>
                <div  class="tourist-quotes">
                    <h2 class="quotes">“Travel makes one modest. You see what a tiny place you occupy in the world.”</h2>
                    <h4 class="quoteswriter">― Gustave Flaubert</h4>
                </div>
            </div>
            <div class="listOfEvents">
                <div class="listOfEvents-heading"><h2 class="listOfTourist-heading-text">All Events</h2></div>
                <div class="eventsList">
                  <% locals.events.forEach(function(events){%>
                    <div class="separateEventsBlock">
                        <h2 class="eventsTitle"><%= events.eventTitle %></h2>
                        <h3 class="eventsLocation"><%= events.eventLocation %></h3>
                        <h4 class="eventsElements"><%= events.eventDate %></h4>
                        <h4 class="eventsDuration">Duration: <span><%= events.eventDuration %></span></h4>
                        <h5 class="eventsMail"><%= events.eventEmail %></h5>
                    </div>
                    <% }); %>
                </div>
            </div>

            <div class="listOfTopBlogs">
                    <div class="listOfTopBlogs-heading"><h2 class="listOfTourist-heading-text">Top Blogs</h2></div>
                    <div class="blogList">
                    <% locals.blogs.forEach(function(blogs){%>
                        <div class="separateBlogBlock">
                            <div class="imgBlog-outline">
                                <img src="<%= blogs.blogthumbnil %>" alt="User Photo" class="blog-image">
                            </div>
                            <h3 class="touristPlacename"><%= blogs.blogLocation %></h3>
                            <h4 class="touristPlaceLocation"><%= blogs.blogTitle %></h4>
                            <a href="/readBlog/<%= blogs.id %>" class="view_Placeprofile">Read</a>
                        </div>
                        <% }); %>
                    </div>
                </div>
        </main>
    </body>

</body>
</html>



<% include partials/footer %>
